<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dejaphoto">

    //for updateLocation.java's tracker method
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="25" />
    <uses-permission
        android:name="android.permission.READ_INTERNAL_STORAGE"
        android:maxSdkVersion="25" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <receiver android:name="com.example.android.DejaPhotoWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.KARMA"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deja_photo_widget" />
        </receiver>



        //for myReceiver.java , register broadcast receiver
        <receiver android:name="com.example.android.myReceiver">  //omgggg
            <intent-filter>
                <action android:name="com.example.android"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.android.WallpaperChanger"
            android:exported="false" />
        <service
            android:name="com.example.android.WidgetManager"
            android:exported="false" />

        <activity
            android:name="com.example.android.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.android.BackgroundService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name="com.example.android.IntervalActivity"
            android:label="@string/title_activity_interval"
            android:parentActivityName="com.example.android.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.android.AlbumActivity"
            android:label="@string/title_activity_album"
            android:parentActivityName="com.example.android.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.android.ModeActivity"
            android:label="@string/title_activity_mode"
            android:parentActivityName="com.example.android.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.android.SetActivity"
            android:label="@string/title_activity_set"
            android:parentActivityName="com.example.android.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.example.android.ChangeImage"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.NEW" />
                <action android:name="android.intent.action.NEXT" />
                <action android:name="android.intent.action.PREVIOUS" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.android.BuildDisplayCycle"
            android:exported="false"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.intent.action.BUILD_CYCLE" />
                <action android:name="android.intent.action.RERANK_BUILD" />
                <action android:name= "android.intent.action.NEW" />
                <action android:name= "android.intent.action.RERANK_DISPLAY" />

            </intent-filter>
        </service>
        <service
            android:name="com.example.android.UpdateImageInfo"
            android:exported="false"
            android:grantUriPermissions="true"/>
        <service
            android:name="com.example.android.Rerank"
            android:exported="false">
            <intent-filter>
                <action android:name= "android.intent.action.RERANK_DISPLAY" />
            </intent-filter>
        </service>
        <receiver android:name="com.example.android.AlarmReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.KARMA"/>
                <action android:name="android.intent.action.RELEASE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>